* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: var(--background);
    scroll-behavior: smooth;
}

:root {
    --background: #131618;
    --title-color: #E4DAD0;
    --text-color: #F5F5F5;
    --grey: #575757;
}


/*SCROLLBAR*/

body::-webkit-scrollbar {
    background-color: var(--background);
    width: 0px;
    /* width: 8px; */
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
    background-color: var(--background);
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 4px;
    border: 4px solid var(--text-color);
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display: none;
}

/*SCROLLBAR*/

/*HEADER*/

.bg-black {
    box-shadow: 0px 0px 25px 0px var(--title-color);
    background: var(--background);
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1.5rem 0;
    transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

header>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    width: 45%;
    margin: 0 auto;
}

.container-nav-btn {
    position: relative;
}

.nav-btn {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    overflow: hidden;
}

.nav-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: var(--text-color);
    opacity: 0;
    transition: opacity 250ms, transform 250ms;
}

.nav-btn:hover::after,
.nav-btn:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2rem, 0);
}

.select::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background: var(--text-color);
    opacity: 1;
    transition: opacity 250ms, transform 250ms;
}

.select:hover::after,
.select:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2rem, 0);
}

/*HEADER*/

/*MAIN SECTION*/

#main-sec {
    width: 100%;
    height: 100vh;
    background-image: url('../img/beautiful-mountains-landscape.jpg');
    background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#main-sec-filter {
    width: 100%;
    height: 100%;
    background: rgba(19, 22, 24, 55%);
    position: relative;
}

#main-sec-gradient {
    position: absolute;
    left: 0%;
    top: 77.8%;
    width: 100%;
    height: 22.2%;
    background: linear-gradient(to bottom, rgba(19, 22, 24, 0%) 0%, rgba(19, 22, 24, 100%) 90%);
}

#main-sec-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
}

h2 {
    font-weight: 400;
    font-size: 3rem;
    color: var(--title-color);
    text-align: center;
}

h1 {
    font-weight: 600;
    font-size: 5rem;
}

#main-sec-content p {
    background: #00adb5;
    padding: 0.5rem 1.5rem;
    border-radius: 45px;
    margin-top: 1rem;
    font-size: 1.5rem;
    transition: background 250ms ease-in-out;
    cursor: pointer;
}

#main-sec-content p:hover {
    background: #0D7377;
}

/*MAIN SECTION*/

/*A PROPOS*/

.sec-propos {
    padding-top: 10rem;
}

.sec-propos article h2 {
    font-weight: 600;
}

#container-propos-txt {
    width: 75%;
    color: var(--text-color);
    margin: 4rem auto 0 auto;
    font-size: 1.3rem;
}

#container-propos-txt p {
    text-align: justify;
}

#container-propos-txt p:last-child {
    margin-top: 0.75rem;
}

/*A PROPOS*/

/*competence*/

#container-competence {
    margin-top: 4rem;
}

h3 {
    text-align: center;
    color: var(--title-color);
    font-weight: 500;
    font-size: 2.25rem;
}

.container-lang {
    width: 75%;
    margin: 2rem auto 0 auto;
}

.container-lang h4 {
    color: var(--title-color);
    font-weight: 400;
    font-size: 1.9rem;
    display: flex;
    flex-direction: column;
}

.sub-container-comp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 1.75rem;
}

.card-lang {
    border: #575757 2.5px solid;
    border-radius: 1rem;
    width: 15%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: border-color 250ms ease-in-out;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
}

.card-lang:hover {
    border-color: var(--text-color);
}

.card-lang img {
    max-width: 65%;
}

.card-lang p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    color: var(--text-color);
}

/*competence*/

/*projet*/

.sec-projets {
    padding-top: 7.5rem;
    font-weight: 600;
}

#container-proj {
    display: flex;
    margin: 1.5rem auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 95%;
}

.card-proj {
    width: 22%;
    color: var(--text-color);
    font-weight: 400;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.container-img-proj {
    border-radius: 1.5rem;
    border: #575757 2.5px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 15rem;
    transition: border-color 250ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.container-img-proj::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0rem;
    right: -101%;
    background: rgba(11, 13, 12, 0.911);
    transition: transform 250ms ease-in-out;
}

.container-img-proj:hover::after {
    transform: translate(-101%, 0);
}

.container-img-proj img {
    max-width: 75%;
    max-height: 100%;
    user-select: none;
}

.card-proj p {
    color: var(--text-color);
    text-align: center;
    font-size: 1.25rem;
    margin-top: 0.75rem;
}

.container-img-proj:hover {
    border-color: var(--text-color);
}

#acdc {
    background: var(--background);
}

#univ,
#doulenne {
    background: #F0E9E2;
}

#aero-club {
    background: #407BA7;
}

#formulut {
    background: #FFD911;
}

#sushi-taimu {
    background: #E4D3BE;
}

#moai {
    background: #0077BE;
}

#lImprimerie {
    background: #F0E9E2;
}

#lImprimerie:hover::before {
    opacity: 1;
}

#lImprimerie::before {
    content: 'Sites web administratif';
    position: absolute;
    z-index: 90;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 300ms cubic-bezier(.75, 0, .75, 0);
    padding: 0 0.50rem;
    text-align: center;
}

#sushi-taimu:hover::before,
#univ:hover::before,
#aero-club:hover::before {
    opacity: 1;
}

#sushi-taimu::before,
#univ::before,
#aero-club::before {
    content: 'Site web de réservation';
    position: absolute;
    z-index: 90;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 300ms cubic-bezier(.75, 0, .75, 0);
    padding: 0 0.50rem;
    text-align: center;
}

#doulenne:hover::before {
    opacity: 1;
}

#doulenne::before {
    content: 'Site web vitrine';
    position: absolute;
    z-index: 90;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 300ms cubic-bezier(.75, 0, .75, 0);
    padding: 0 0.50rem;
    text-align: center;
}

#formulut:hover::before {
    opacity: 1;
}

#formulut::before {
    content: 'Webdocumentaire';
    position: absolute;
    z-index: 90;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 300ms cubic-bezier(.75, 0, .75, 0);
    padding: 0 0.50rem;
    text-align: center;
}

#acdc:hover::before {
    opacity: 1;
}

#acdc::before {
    content: 'Site web sur un groupe de musique';
    position: absolute;
    z-index: 90;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 300ms cubic-bezier(.75, 0, .75, 0);
    padding: 0 0.50rem;
    text-align: center;
}

#moai:hover::before {
    opacity: 1;
}

#moai::before {
    content: 'Site web avec un modèle 3D';
    position: absolute;
    z-index: 90;
    opacity: 0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: opacity 300ms cubic-bezier(.75, 0, .75, 0);
    text-align: center;
    padding: 0 0.50rem;
}

/*projet*/

/*Contact*/

.sec-contact {
    padding-top: 7.5rem;
}

#container-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    color: var(--title-color);
    margin-top: 5rem;
}

.card-contact {
    color: var(--title-color);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    border-radius: 1rem;
    padding: 2rem 1rem;
    border: #575757 2.5px solid;
    transition: border-color 250ms ease-in-out;
}

.card-contact img {
    width: 45%;
}

.card-contact h4 {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.card-contact p {
    font-weight: 300;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

.card-contact:hover {
    border-color: var(--title-color);
}

/*Contact*/

/*footer*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
    box-shadow: 0px 0px 25px 0px var(--title-color);
    padding: 1rem 0;
    color: var(--title-color);
}

footer a {
    color: var(--title-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer a:hover {
    color: #575757;
}

footer a img {
    width: 35%;
}

footer a p {
    margin-left: 1rem;
}

/*footer*/

#popup-mail {
    background: var(--text-color);
    position: fixed;
    z-index: 200;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem 0.5rem 2rem;
    border-radius: 1rem;
    border: #575757 2.5px solid;
    user-select: none;
    display: none;
}

/*footer*/

#myProgress {
    margin-top: 0.5rem;
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 0%;
    height: 5px;
    border-radius: 50px;
    background-color: #00ADB5;
}

#headerTel {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    padding: 1.5rem 0;
    justify-content: end;
    background: linear-gradient(180deg, rgba(20, 22, 24, 1) 0%, rgba(20, 22, 24, 0) 100%);
}

#headerTel>img {
    cursor: pointer;
    margin-right: 1.5rem;
}

#menuTel {
    display: none;
    /* opacity: 0;
    user-select: none; */
    top: 0;
    position: fixed;
    background: var(--background);
    width: 100vw;
    height: 100vh;
    z-index: 75;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-btn-tel {
    color: var(--text-color);
    text-decoration: none;
    font-size: 4rem;
    margin: 1.5rem 0;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .container-img-proj {
        height: 10rem;
    }

    .card-lang {
        margin-right: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    #header {
        display: none;
    }

    #headerTel {
        display: flex;
    }

    #container-propos-txt {
        width: 90%;
    }

    .container-lang {
        width: 90%;
    }

    .card-lang p {
        font-size: 1.1rem;
    }

    .card-lang {
        width: 22%;
        margin-right: 1.5rem;
    }

    .card-proj {
        width: 30%;
        height: 10%;
        margin-bottom: 2rem;
    }

    .card-proj p {
        font-size: 1.5rem;
    }

    .container-img-proj {
        height: 10rem;
    }

    #container-contact {
        width: 75%;
    }
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 4rem;
    }

    .card-proj p {
        font-size: 1rem;
    }

    .container-img-proj {
        height: 10rem;
    }

    #container-contact {
        width: 90%;
        justify-content: space-around;
    }

    .card-lang {
        margin-right: 0rem;
    }
}

@media screen and (max-width: 600px) {
    .card-contact p {
        font-size: 0.7rem;
    }

    .container-img-proj {
        height: 7.5rem;
        border-radius: 1rem;
    }

    .container-img-proj::after {
        border-radius: 0.5rem;
    }

    .container-img-proj img {
        max-width: 95%;
    }

    .card-lang {
        width: 26%;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 500px) {
    .card-lang {
        width: 33%;
        margin-right: 1.5rem;
    }

    .sub-container-comp {
        justify-content: space-around;
    }

    .card-proj {
        width: 40%;
    }

    .container-img-proj img {
        max-width: 100%;
    }

    #container-contact {
        flex-direction: column;
    }

    .card-contact {
        width: 50%;
        margin-bottom: 2.5rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    .nav-btn-tel {
        font-size: 3rem;
    }
}

@media screen and (max-width: 425px) {
    .card-lang {
        width: 45%;
        margin-right: 0;
    }

    .card-proj {
        width: 85%;
    }

    .card-proj p {
        font-size: 1.5rem;
    }

    .container-img-proj {
        height: 12.5rem;
    }

    .card-contact {
        width: 75%;
    }

    .card-contact p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .title {
        font-size: 2.75rem;
    }

    footer {
        flex-direction: column;
    }

    footer p {
        margin-top: 1.25rem;
    }
}

@media screen and (max-width: 375px) {
    .card-contact p {
        font-size: 0.9rem;
    }

    #container-propos-txt p {
        font-size: 1.1rem;
        width: 85%;
        margin: 0 auto;
    }

    h1 {
        font-size: 2rem;
    }

    #popup-mail {
        width: 75%;
    }
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
}

#loader>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 1s ease-in-out opacity;
}

#loader>p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10vw;
    font-weight: 900;
    color: var(--text-color);
    opacity: 1;
    transition: opacity 1s ease-in-out;
    animation: loader 1s ease-in-out infinite alternate;
}

@keyframes loader {
    to {
        opacity: 0.25
    }
}